### 1. How do you handle duplicate values in a dataset in Python?

In [1]:
import numpy as np
import pandas as pd

In [2]:
#using pandas dataframe to deal with duplicates
df = pd.DataFrame(
    {
        "customer_id": ["A", "B", "C", "C", "D", "E", "E"],
        "date": ["5/1/2017", "5/8/2017", "5/11/2017","5/11/2017","5/13/2017", "5/18/2017", "5/18/2017"],
        "spend": [10, 5, 20, 20, 18, 24, 24]
    },
    index = [1, 2, 3, 4, 5, 6,7],
    columns = ["customer_id", "date", "spend"]
)

In [3]:
df

  customer_id       date  spend
1           A   5/1/2017     10
2           B   5/8/2017      5
3           C  5/11/2017     20
4           C  5/11/2017     20
5           D  5/13/2017     18
6           E  5/18/2017     24
7           E  5/18/2017     24

In [4]:
# describe table
df.shape

(7, 3)

In [5]:
#Identify duplicates records in the data
dupls = df.duplicated()
sum(dupls)

2

In [6]:
#Removing Duplicates
df_uniq = df.drop_duplicates()

df_uniq.shape

(5, 3)

In [7]:
df_uniq

  customer_id       date  spend
1           A   5/1/2017     10
2           B   5/8/2017      5
3           C  5/11/2017     20
5           D  5/13/2017     18
6           E  5/18/2017     24

In [8]:
#Identify duplicates in df data based on customer_id
dupl_id=df.customer_id.duplicated()

In [9]:
dupl_id

1    False
2    False
3    False
4     True
5    False
6    False
7     True
Name: customer_id, dtype: bool

In [10]:
#Removing duplicates based on a variable
df_cust_uniq=df.drop_duplicates(['customer_id'])

df_cust_uniq.shape

(5, 3)

In [11]:
df_cust_uniq

  customer_id       date  spend
1           A   5/1/2017     10
2           B   5/8/2017      5
3           C  5/11/2017     20
5           D  5/13/2017     18
6           E  5/18/2017     24

In [12]:
# using nupmy array to deal with duplicates
my_array = np.array([1, 2, 2, 4, 5])
np.unique(my_array)

array([1, 2, 4, 5])

### 2.You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests? Write in both Python and SQL.

In [ ]:
#SQL
Assume you have to wait 1 week before a friend request is considered rejected.

SELECT ROUND(100 * COUNT(CASE WHEN a.requestor_id IS NULL 1 ELSE 0 END)/ COUNT(r.requester_id),2) AS acceptance_rate
FROM friend_request AS r
LEFT JOIN request_accepted AS a
ON r.sent_to_id = a.acceptor_id
AND r.requester_id = a.requestor_id
WHERE date(r.time) >= date_add(current_date(),-7DAYS)

In [ ]:
#PYTHON: 
fr = np.unique(friend_request["requester_id"],["sent_to_id"])
ra = pd.merge(friend_request,request_accepted, how='left', on = '["sent_to_id", "acceptor_id"]' & '["requester_id", "requestor_id"]')
acceptance_rate =ra.shape[0] / fr.shape[0] 
#don't know how to write WHERE in python, confused about translating sql into python.

### 3.“Issuer” of a credit card are companies like Visa, Mastercard, American Express. Now we know the following rules:
CC number starts with: '4' CC len : 16 Issuer: VISA
CC number starts with: '34', '37' CC len : 15 Issuer : AMEX
CC number starts with: '36' CC len : 14 Issuer : Diners Club
Credit card number starts with '4026', '417500', '4405', '4508', '4844', '4913', '4917' CC len : 16 Issuer : VISAELECTRON
Now write Python scripts to identify the issuer of the following credit card numbers:
'4175004175004172' '4917491749174917' '346416800707698' '376416800707698' '37641680070769832112' '36641680070769' '54545641680070769’

In [17]:
def identify_cc_issuer(cc_num): 
    
    card_nums = ['4175004175004172', '4917491749174917', '346416800707698','376416800707698',
                '37641680070769832112','36641680070769','54545641680070769']
    
    start_with = ['4026', '4405', '4508', '4844','4913', '4917']
    if (cc_num[0:1] == '4') and (len(cc_num) == 16):
        if (cc_num[0:4] in start_with) or (cc_num[0:2] == '417500') :
            print cc_num + (" Issuer: VISAELECTRON")
        else:
            print cc_num + (" Issuer: VISA")
    
    elif(cc_num[0:2] == '34'or cc_num[0:2] == '37') and (len(cc_num) == 15):
         print cc_num + (" Issuer: AMEX")
    
    elif(cc_num[0:2] == '36')or (len(cc_num) == 14):
        print cc_num + (" Issuer: Diners Club")
    
    else:
        print cc_num + (": THe issuer of the credit card number cannot be indentified!")   
        
for cc_num in card_nums:
        identify_cc_issuer(cc_num)

4175004175004172 Issuer: VISA
4917491749174917 Issuer: VISAELECTRON
346416800707698 Issuer: AMEX
376416800707698 Issuer: AMEX
37641680070769832112: THe issuer of the credit card number cannot be indentified!
36641680070769 Issuer: Diners Club
54545641680070769: THe issuer of the credit card number cannot be indentified!